.menu-form {
    position: absolute;
    width: 147px;
    left: 0px;
    top: 0px;
    bottom: 0px;

    background: #51BFD0;
}
.logo {
    position: absolute;
    width: 70%;
    height: 30%;
    left: 10.2%;
    right: 27.89%;
    top: 0%;
    bottom: 68.54%;

    background: url(../img/logo-QuizzSA.png);
    background-size: cover;
    mix-blend-mode: hard-light;
}
.separateur {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 31.06%;
    bottom: 68.94%;

    border: 1px solid #97E3E8;
}
.menu-text {
    position: absolute;
    left: 8.84%;
    right: 55.78%;
    top: 32.67%;
    bottom: 62.93%;

    font-family: Rosario;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    text-transform: uppercase;

    color: #FFFFFF;
}
.error-form {
    margin: 0;
    height: 10px;
    margin-left: 8%;
    color: tomato;
}














































































































